node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist/

# macOS
.DS_Store

# Local Netlify folder
.netlify

# Because we are using Continuous Native Generation (CNG) see https://docs.expo.dev/workflow/continuous-native-generation/
android
ios
